*{
    margin: 0;
    padding: 0;
  }
html, body{
    background-color: #1a1919;
    color: #ffffff;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.nav{
    display: flex;
    align-items: center;
    background: #3F51B5;
    list-style-type: none;
    overflow: hidden;
    flex-shrink: 0;
}
.nav a{
    color: #E8EAF6;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
}
.nav a:hover{
    text-decoration: none;
}
.active{
    background-color: #5C6BC0;
}
li a:hover:not(.active) {
    background-color: #283593;
}
.content{
    flex: 1 0 auto;
}
.pagecontainer{
    padding: 0.5em 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #5C6BC0;
    vertical-align: middle;
    width: 80%;
    margin: 50px auto;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
}
h1{
    text-decoration: underline;
    text-align: center;
    margin: 1em 0 0 0;
}
.contentcontainer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}
p{
    padding: 0.5em 0 0.5em 0;
}
.footer{
    background: #3F51B5;
    flex-shrink: 0;
}
.footer h5{
    padding: 8px 16px;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .contentcontainer{
        flex-flow: column nowrap;
    }
    .pagecontainer{
        padding: 0.5em;
        width: 90%;
        font-size: 15px;
    }
    .nav a{
        font-size: 12px;
    }
}
